{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <a href="/"><h1 class="logo-dare">DARE !</h1></a>
        <h1 class="logo-dare">DARE!</h1>
    </header>

{% endblock %}

{% block body %}

<div class="credit-background">
    <div class="fade"></div>
    
    <audio autoplay>
        <source src="http://www.thesoundarchive.com/starwars/star-wars-cantina-song.mp3" type="audio/mp3" />
    </audio>

    <section class="star-wars">
        <div class="crawl">
            <div class="title">
                <p class="credit-title">HACKATHON <br><br> LE RETOUR</p>
                <p>Mission : Star Love</p>
            </div>
            <br><br><br>

            <p>Après de nombreuses heures de combats acharnés contre le grand méchant API, son acolyte Bootstrap et ses satanés Cards, le faction des PHP est finalement parvenue à atteindre la victoire !</p>
            <br>
            <p>Une paix s'est installée dans toute la galaxie favorisant un climat de bienveillance. Il est même possible d'entrevoir un avenir aux relations diplomatiques tendues entre la faction PHP et la faction JS.</p>
            <br>
            <p>Cependant la dernière génération d'applications de dating à poussé à la perversion de nombreux citoyens et généré une croissance démographique insoutenable. La faction des Binaires fomente un plan machiavélique pour éradiquer toutes les autres espèces jugées inférieures.</p>
            <br>
            <p>To be continued...</p>

            <br><br><br><br>

            <img src="https://media.giphy.com/media/jd6TVgsph6w7e/giphy.gif" alt="" class="gif">

        </div>
    </section>

</div>


{% endblock %}
