{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <h1 class="logo-dare">DARE !</h1>
    </header>

{% endblock %}

{% block body %}

<div class="credit-background">
    <div class="fade"></div>

    <section class="star-wars">
        <div class="crawl">
            <div class="title">
                <p>HACKATHON NUMERO 2</p>
                <h1>Trouvons l'amour</h1>
            </div>

            <p>     Love    Love</p>
            <p>  Love Love  Love Love</p>
            <p> Love Love Love Love Love</p>
            <p> Love Love Love Love Love</p>
            <p>  LoveLoveLoveLoveLove</p>
            <p>   LoveLoveLoveLove</p>
            <p>    LoveLoveLove</p>
            <p>      LoveLove</p>
            <p>        Love</p>

        </div>
    </section>

</div>


{% endblock %}
