{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <h1 class="logo-dare">DARE !</h1>
    </header>

{% endblock %}

{% block body %}


    <div class="container-fluid">
        <div class="row bg-img ">
            <div class="d-flex justify-content-center container mt-5">
                <form action="" method="POST">
                    <div class="container FormDavid">
                        <h1>Want to meet the other side ?</h1>
                        <h4 class="text-secondary font-italic">Fill out the following form</h4>

                        <div class>
                            <label for="name"><b>Enter your name</b></label>
                            <input type="text" placeholder="Enter your name" name="name" required>
                        </div>
                        <div class>
                            <p class="empireDavid mb-2 mt-4">On what side are you?</p>
                            <input type="radio" id="contactChoice1"
                                   name="affiliations" value="Republic">
                            <label for="contactChoice1">Empire</label>

                            <input type="radio" id="contactChoice2"
                                   name="affiliations" value="Empire">
                            <label for="contactChoice2">Republic</label>
                        </div>
                        <div class>
                            <label for="height"><b>Select your height</b></label>
                            <input type="number" id="height" name="height" value="">
                        </div>
                        <div class>

                        </div>


                    <div>
                <div>
            </div>
                                <button type="submit" class="btn ProfileButton">Match now </button>
                        </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
