{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <a href="/"><h1 class="logo-dare">DARE!</h1></a>
    </header>

{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row bg-img">
            <div class="d-flex justify-content-center container">
                <form action="" method="POST">
                    <div class="container FormDavid">
                        <h1 class="text-center">Want to meet the other side ?</h1>
                        <h4 class=" font-italic SubtitleForbidden">Fill out the following form</h4>

                        <div class="row content-justify-center">
                            <p class="empireDavid mb-2 mt-4 d-block col-12">On what side are you?</p>
                        </div>
                        <div class="row content-justify-center">
                            <div class="col-5">
                                <input
                                        type="radio" name="affiliations"
                                        id="contactChoice1" class="input-hidden"
                                        value="Republic" />
                                <label for="contactChoice1">
                                    <img
                                            src="{{ asset('assets/image/Empire_logo.svg.png') }}"
                                            alt="contactChoice1" />
                                </label>
                            </div>
                            <div class="col-5">
                                <input
                                        type="radio" name="affiliations"
                                        id="contactChoice2" class="input-hidden"
                                        value="Empire" />
                                <label for="contactChoice2">
                                    <img
                                            src="{{ asset('assets/image/Rebel_Alliance_logo.svg.png') }}"
                                            alt="contactChoice2" />
                                </label>
                            </div>
                        </div>
                        <div class="row align-text-center">
                            <label class="col-4 mt-3" for="height"><b>Select your height</b></label>
                            <input class="col-8" type="text" id="height" name="height" value="">
                        </div>
                        <div class="row align-text-center">
                            <label class="col-4 mt-3" for="mass"><b>Select your mass</b></label>
                            <input class="col-8" type="text" id="mass" name="mass" value="">
                        </div>
                    <div>
                </form>
            </div>
            <button type="submit" class="btn ProfileButton ButtonBackground">Match now </button>
        </div>
    </div>

{% endblock %}
