{% extends 'base.html.twig' %}

{% block body %}

    <div id="intro">
        <div class="story">
            <div class="float-left">
                <h2>DARE !</h2>
                <h1>The Other Sides</h1>
                <p><p>In celebration of &quot;Star Wars: The Last Jedi&quot;, the Solodev team decided to write a Star Wars themed post on adding parallax with multiple backgrounds to your website using jQuery. Instead of your run of the mill stock photos, our example is filled with Jedis and the Force as backgrounds. </p>
            </div>
        </div>
    </div>
    <div id="second">
        <div class="story">
            <div class="bg"></div>
            <div class="float-right">
                <h2>Brave The Forbidden</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris, volutpat elementum enim urna eget odio.</p>
                <p>Donec egestas aliquet facilisis. Nunc eu nunc eget neque ornare fringilla. Nam vel sodales lectus. Nulla in pellentesque eros. Donec ultricies, enim vitae varius cursus, risus mauris iaculis neque, euismod sollicitudin metus erat vitae sapien. Sed pulvinar.</p>
            </div>
        </div>
    </div>
    <div id="third">
        <div class="story">
            <div class="float-left">
                <h2>May The Force Cume</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean nibh erat, sagittis sit amet congue at, aliquam eu libero. Integer molestie, turpis vel ultrices facilisis, nisi mauris sollicitudin mauris, volutpat elementum enim urna eget odio.</p>
                <p>Donec egestas aliquet facilisis. Nunc eu nunc eget neque ornare fringilla. Nam vel sodales lectus. Nulla in pellentesque eros. Donec ultricies, enim vitae varius cursus, risus mauris iaculis neque, euismod sollicitudin metus erat vitae sapien. Sed pulvinar.</p>
            </div>
        </div>
    </div>
    <div id="fourth">
        <h2 class="text-center select-desire">Choose the desire you want to satisfy</h2>
            <div id="container" id="bas">
                <div id="burger">
                    <div class="bun top"></div>
                    <div class="filling"></div>
                    <div class="bun bottom"></div>
                </div>
            </div>
    </div>
    <nav>
        <ul>
            <li class="green">
                <a href="soulmate"><h1>Soulmate</h1></a>
            </li>
            <li class="red">
                <a href="forbidden"><h1>The Forbidden</h1></a>
            </li>
            <li class="yellow">
                <a href="xenophiliac"><h1>Inter-Species</h1></a>
            </li>
            <li class="purple">
                <a href="objectum_sexual"><h1>Sexual Object</h1></a>
            </li>
        </ul>
    </nav>

{% endblock %}
