{% extends 'base.html.twig' %}

{% block body %}

    <div id="intro">
        <div class="story">
            <div class="float-left">
                <h2>DARE!</h2>
                <h1>The Other Sides</h1>
                <p class="tagline">It's a cruel joke of nature, but most of us are attracted to people very different from us.
                    But these seemingly problematic differences are really the things that add excitement and passion to your relationship, especially its sexual aspects.
                </p>
            </div>
        </div>
    </div>
    <div id="second">
        <div class="story">
            <div class="bg"></div>
            <div class="float-right">
                <h2>Brave The Forbidden</h2>
                <p class="tagline">Never fell in love with other species? Open your mind. While the first thing we become aware of when meeting someone is their physical appearance, what determines the degree to which we find them attractive is something that is much more than skin-deep.</p>
            </div>
        </div>
    </div>
    <div id="third">
        <div class="story">
            <div class="float-left">
                <h2>Do not stay alone</h2>
                <p class="tagline">Leia and Han Solo, the princess and the scum, might not be a likely pair, but their differences are what help make them work as a couple. R2-D2 and C-3PO may not have the necessary circuitry and programming to feel love, but they’re best pals.
                    You too could find your soulmate in a distant galaxy</p>
            </div>
        </div>
    </div>
    <div id="fourth">
        <h2 class="text-center select-desire">Choose the desire you want to satisfy</h2>
            <div id="container" id="bas">
                <div id="burger">
                    <div class="bun top"></div>
                    <div class="filling"></div>
                    <div class="bun bottom"></div>
                </div>
            </div>
    </div>
    <nav>
        <ul>
            <li class="green">
                <a href="soulmate"><h1>Soulmate</h1></a>
            </li>
            <li class="red">
                <a href="forbidden"><h1>The Forbidden</h1></a>
            </li>
            <li class="yellow">
                <a href="xenophiliac"><h1>Xenophiliac</h1></a>
            </li>
            <li class="purple">
                <a href="objectum_sexual"><h1>D La Réponse D</h1></a>
            </li>
        </ul>
    </nav>

{% endblock %}
