{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <div class="row ligne1">
            <div class="col">
                One of three columns
            </div>

        </div>

        <div class="row ligne2">
            <div class="col">
                One of three columns
            </div>
            <div class="col ">
                One of three columns
            </div>
            <div class="col">
                One of three columns
            </div>
        </div>

        <div class="row ligne3">
            <div class="col">
                One of three columns
            </div>
        </div>
    </div>
{% endblock %}
