{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <a href="/"><h1 class="logo-dare">DARE!</h1></a>
    </header>

{% endblock %}

{% block body %}

    <div class="reponse-d">
    </div>
{% endblock %}
