{% extends 'base.html.twig' %}


{% block header %}

    <header>
        <h1 class="logo-dare">DARE !</h1>
    </header>

{% endblock %}

{% block body %}

    <div class="soulmate">
        <div id="go-away"><h2>THIS IS NOT FOR YOU PEOPLE! <br> GO SEE THE JAVASCRIPT APP PADAWAN!</h2></div>
    </div>

{% endblock %}
