{% extends 'base.html.twig' %}


{% block header %}

    <header>
        <a href="/"><h1 class="logo-dare">DARE!</h1></a>
    </header>

{% endblock %}

{% block body %}

    <div class="soulmate">
        <div id="go-away">
            <h2>LOVE?!<br>THIS IS NOT FOR YOUR KIND! <br> GO SEE THE JAVASCRIPT PWA, PADAWAN!</h2>
            <img src="https://media.giphy.com/media/oeGgcmHVHLVCg/giphy.gif" alt="" class="gif2">
        </div>
    </div>

{% endblock %}
