{% extends 'base.html.twig' %}

{% block body %}
    {% for character in characters %}
        <p>{{ character.id }} - {{ character.name }}
            {% if character.cybernetics is defined %}
                <span> / {{ character.cybernetics }}</span>
            {% endif %}
        </p>
    {% endfor %}
{% endblock %}
