{% extends 'base.html.twig' %}

{% block body %}
    {% for character in characters %}
        {% if character.lastAffiliation is defined %}
            <div>{{ character.lastAffiliation }}</div>
        {% endif %}
    {% endfor %}
{% endblock %}
