{% extends 'base.html.twig' %}

{% block body %}
    {% for character in characters %}
        {% if character.name %}
            <p>{{ character.id }} - {{ character.name }}</p>
        {% endif %}
    {% endfor %}
{% endblock %}
