{% extends 'base.html.twig' %}

{% block body %}
    {% for character in characters %}
        {% if character.height is defined %}
            <div>{{ character.height }}</div>
        {% endif %}
    {% endfor %}
{% endblock %}
