{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <h1 class="logo-dare">DARE !</h1>
    </header>

{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="bg-img">
            <form action="/action_page.php">
                <div class="container FormDavid">
                    <h1>Wan't to meet another specie ?</h1>
                    <h4 class="text-secondary font-italic">Fill out the following form</h4>

                    <div class>
                        <label for="name"><b>Enter your name</b></label>
                        <input type="text" placeholder="Enter your name" name="name" required>
                    </div>

                    <div class>
                        <label for="name"><b>Select specie you wan't to meet</b></label>
                        <select name="Style">
                            <option value="Droid">Droid</option>
                            <option value="Human">Human</option>
                            <option value="autre">Other</option>
                        </select>
                    </div>

                    <div class>
                        <p class="empireDavid mb-2 mt-4">What side are your looking for ?</p>
                        <input type="radio" id="contactChoice1"
                               name="contact" value="empire">
                        <label for="contactChoice1">Empire</label>

                        <input type="radio" id="contactChoice2"
                               name="contact" value="republique">
                        <label for="contactChoice2">Republic</label>

                    </div>
                    <div>

                        <div>

                        </div>

                        <button type="submit" class="btn ProfileButton">Match now </button>
                    </div>
            </form>
        </div>
    </div>

{% endblock %}
