{% extends 'base.html.twig' %}

{% block header %}

    <header>
        <a href="/"><h1 class="logo-dare">DARE !</h1></a>
    </header>

{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="bg-img">
            <form action="/action_page.php">
                <div class="container FormDavid">
                    <h1>Want to meet another specie ?</h1>
                    <h4 class="text-secondary font-italic">Fill out the following form</h4>

                    <div class>
                        <label for="name"><b>Select a specie</b></label>
                        <select name="Style">
                            <option value=""></option>
                            {% for specie in species %}
                                <option value="{{ specie }}">{{ specie }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class>
                        <label for="name"><b>Select a gender</b></label>
                        <p class="empireDavid mb-2 mt-4">What side are your looking for ?</p>
                        <input type="radio" id="contactChoice1"
                               name="contact" value="male">
                        <label for="contactChoice1">Male</label>

                        <input type="radio" id="contactChoice2"
                               name="contact" value="female">
                        <label for="contactChoice2">Female</label>

                    </div>

                    <div class>
                        <label for="name"><b>Select a homeworld</b></label>
                        <select name="Style">
                            <option value=""></option>
                            {% for homeworld in homeworld %}
                                <option value="{{ homeworld }}">{{ homeworld }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div>

                        <div>

                        </div>

                        <button type="submit" class="btn ProfileButton">Match now </button>
                    </div>
            </form>
        </div>
    </div>

{% endblock %}
